<%- layout("./croatian/boilerplate/layout.ejs") %>


<link rel="stylesheet" href="/css/form.css">

    <main>
        <h1>Promijeni lozinku</h1>
        <form class="validateForm"action="/users/<%=user._id%>/password?_method=PUT" method="POST" novalidate> 
          
            <div class="oldPassword">
                <label for="oldPassword">Stara lozinka</label>
                <input class="validate" type="password" id="oldPassword" name="oldPassword">
            </div>
            <div class="password">
                <label for="password">Nova lozinka</label>
                <input class="validate password" type="password" id="password" name="newPassword" required>
            </div>
            <div class="repeatPassword">
                <label for="repeatPassword">Ponovi lozinku</label>
                <input type="password" class="repeatPassword validate" id="repeatPassword" required>
            </div>
           
            <button class="Button">Promijeni lozinku</button>
            <br>
            <p class="fillMessage">Molim vas popunite točne informacije</p>
            <p class="repeatPassMessage">Lozinke se ne podudaraju</p>
        </form>
    </main>

    <script src="/javascript/validateForm.js"></script>
    <script src="/javascript/repeatPassValidation.js"></script>