<%- layout("./croatian/boilerplate/layout.ejs") %>

<link rel="stylesheet" href="/css/form.css">

    <main>
        <h1>Prijava</h1>
        <form class="validateForm" action="/login" method="POST" novalidate> 
            <div class="username">
                <label for="username">Korisnik</label>
                <input class="validate"  type="text" id="username" name="username" required>
            </div>
            <div class="password">
                <label for="password">Lozinka</label>
                <input class="validate" type="password" id="password" name="password" required>
            </div>
           
            <button class="Button">Prijavi se</button>
            <br>
            <p class="fillMessage">Molim vas unesite toÄne informacije</p>
            <a class="forgotPass" href="/login/forgot-pass">zaboravljena lozinka?</a>
        </form>
    </main>

    <script src="/javascript/validateForm.js"></script>