<%- layout("./croatian/boilerplate/layout.ejs") %>



<link rel="stylesheet" href="/css/form.css">

    <main>
        <h1>Promjena lozinke</h1>
        <form class="validateForm" action="/login/reset-pass/<%=email%>/<%=token%>" method="POST" novalidate> 
          
            
            <div class="password">
                <label for="password">Nova lozinka</label>
                <input class="validate password" type="password" id="password" name="newPassword" required>
            </div>
            <div class="repeatPassword">
                <label for="repeatPassword">Ponovite novu lozinku</label>
                <input type="password" class="repeatPassword validate" id="repeatPassword" required>
            </div>
           
            <button class="Button">Promijeni lozinku</button>
            <br>
            <p class="fillMessage">Molim vas unesite toÄne infirmacije</p>
            <p class="repeatPassMessage">lozinke nisu iste</p>
        </form>
    </main>

    <script src="/javascript/validateForm.js"></script>
    <script src="/javascript/repeatPassValidation.js"></script>