<%- layout("./boilerplate/layout.ejs") %>

    <link rel="stylesheet" href="/css/beer.css">

    <main class="BeerList">
        <div class="list">
            <h1>Beer list</h1>

            <% for (let beer of beers){ %>
                <div>
                    
                    <a href="/beer/<%=beer._id%>"><span><%=beer.name%> </span></a>
                        
                    
                </div>


                <% } %>
            </div>
            <div class="add">
                <a href="/beer/make"><span>Add new beer</span></a>
            </div>
                    
        
    </main>
    