<%- layout("./boilerplate/layout.ejs") %>
    <link rel="stylesheet" href="/css/form.css">
    <main>
        <h1>Add new beer</h1>
        <form novalidate action="/beer/make" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Beer name</label>
                <input class="validate" type="text" id="name" placeholder="name*" name="name" required>
            </div>
            <div>
                <label for="beerStyle">beer style</label>
                <input class="validate" type="text" id="beerStyle" placeholder="beer style*" name="beerStyle" required>
            </div>
            <div>
                <label for="location">location</label>
                <input class="validate" type="text" id="location" placeholder="location*" name="location" required>
            </div>
            <div>
                <label for="description">description</label>
                <textarea id="description" name="description" rows=4 cols=20 required>

            </textarea>
            </div>
            <div>
                <label for="img">upload image</label>
                <input type="file" name="image" id="img">
            </div>
            <div>
                <button>Send</button>
                <p class="fillMessage">Please fill out missing information</p>
            </div>

        </form>
    </main>

    <script src="/javascript/validateForm.js"></script>