<%- layout("./boilerplate/layout.ejs")  %> 

<main class="BeerList">
    <h1>Beer list</h1>
    <ul>
        <% for (let beer of beers){ %>
        
        <li><%=beer.name%></li>
        <a href="/beer/<%=beer._id%>">view</a>
        
        <% } %>  
    </ul> 

    <div>
        <a href="/beer/make">Add new beer</a>
    </div>
</main>

