<%-layout("./boilerplate/layout.ejs") %>
    <link rel="stylesheet" href="/css/home.css">
    <main>
        <div class="title">
            <h1>www.dobrapiva.com</h1>
        </div>
    </main>

    