body{
    display: flex;
    flex-direction: column;
    
}

@keyframes listAnim{
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.backgroundImage{
   
   width: 100%;
   height: 100%;
   
   position:fixed;
   z-index: -1;
   background-image: url("/image/dark-beer.jpg");

   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   
    filter: blur(8px);
  -webkit-filter: blur(8px);
  
}

.BeerList{

    
    margin-top: 5px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    width: fit-content;
    align-self: center;
    
    
    
    
    

}


h1{
    
    
    text-align: center;
    align-content: center;
    color: black;
    padding: 20px 50px;
    font-size: 60px;
    background-color: rgba(248, 246, 248, 0.8);
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: fit-content;
    margin:auto;
    margin-bottom:0px;
    margin-top: 30px;



}

.list{
    animation: listAnim 1s;
    
    padding:35px 50px;
    background-color: rgba(248, 246, 248, 0.8);
    border-radius: 20px;

}

.beerLocation
{
    width:20%;
}


.beerLinkDiv{
    width:950px;
    min-height:40px;
    height:fit-content;
    display:flex;
    
    background-color:ghostwhite;
    opacity: 0.9;
    margin-bottom: 10px;
    font-size: large;
    padding-right: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:50ms;
    border-radius: 15px;
}


.beerName
{
    width: 20%;
    margin:auto;
}

.abv{
    width:5%;
    margin:auto;

}

.beerRating
{
    
    width:10%;
    margin:10px;

    
    
}
.beerStyle{
    width:10%;
    margin:auto;

    
}

.number{
    width:2%;
    margin:auto;

    
}

.beerLinkDiv:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

.beerLinkDiv>a
{
    
    width: 100%;
    height: 100%; 
    text-decoration: none;
    display: flex;
    color: black;
    transition: 50ms;
}

.beerTitle
{
    
    width: 950px;
    height: 100%; 
    text-decoration: none;
    display: flex;
    color: black;
    justify-content: center;
    

}

.beerTitle>section{

    height:100%;
    margin-left:10px;
    align-self: center;
}

.beerLinkDiv>a:hover{
   
    color:red;
}


.list>div>a>span
{
    margin-left:10px;
    align-self: center;
    
}

.add{
    margin:auto;
    margin-top: 20px;
    width:120px;
    height:40px;
    display:flex;
    
    background-color: rgba(218, 149, 39, 0.7);
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: large;
    padding-right: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:50ms;
}

.add:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add>a{
   width:100%;
   height: 100%;
   display: flex;
   text-decoration: none;
   color: black;


}

.add>a:hover{
    color:whitesmoke;
}

.add>a>span{
    text-decoration: none;
    margin-left:10px;
    align-self: center;
}

form{

    align-self: center;
    padding: 20px;
    background-color:rgba(255, 216, 143,0.7);
    border-radius: 20px;

}

form>span>input{
    
    padding: 10px;
    border-radius: 20px;
    outline: none;
    width: 250px;
    
}

form>select{
    padding: 10px;
    border-radius: 20px;
    outline: none;
    width: 250px;
}


form>span>button{
    background-color: rgb(202, 156, 48);
    margin-left: -50px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px;
    outline: none;
    cursor:pointer;

}

form>span{
    display: inline;
}
@media(max-width: 1000px)
{
    .beerTitle, .beerLinkDiv{
        width:100%;
        
    }
}

@media(max-width:800px)
{
    .list{
        width:100%;
        margin-left: 0px;
        padding: 0px;
    }

    main.BeerList{
        width:100%;
        margin:0px;
        padding: 0px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    form{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
        transform: scale(0.8);
        margin-bottom: 10px;
    }

    form>span{
        display:flex;    
    }

    form>span>button{
        display: inline;
        
    }

    .beerTitle, .beerLinkDiv{
        width:95%;
        padding:0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        
    }
    .beerLinkDiv{
        margin-bottom: 10px;
    }

    
    
    h1{
        margin-top: 0px;
        width:20%;
        font-size: 20px;
    }

    .pages{
        width: 95%;
    }
}



@media(max-width:500px)
{
    span{
        font-size: 12px;
    }

    
   
}