body{
    display: flex;
    flex-direction: column;

}

.BeerList{
    padding: 20px;
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    width: 30%;
    align-self: center;
    
    
    
    
    

}

h1{
    align-self: center;
    padding: 20px;
    font-size: 60px;
    margin-bottom: 50px;;
}

.beerLinkDiv{
    
    height:40px;
    display:flex;
    
    background-color:ghostwhite;
    margin-bottom: 10px;
    font-size: large;
    padding-right: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:50ms;
}
.beerName
{
    width: 200px;
}

.beerRating
{
    padding-left: 40px;
    width:200px;
    margin-left: 50%;
    
}
.beerStyle{
    width:200px;
    
}

.number{
    width:50px;
    ;
}

.beerLinkDiv:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

.beerLinkDiv>a
{
    
    width: 100%;
    height: 100%; 
    text-decoration: none;
    display: flex;
    color: black;
    transition: 50ms;
}

.beerTitle
{
    
    width: 100%;
    height: 100%; 
    text-decoration: none;
    display: flex;
    color: black;
    margin-bottom: 10px;
    

}

.beerTitle>section{
    height:100%;
    margin-left:10px;
    align-self: center;
}

.beerLinkDiv>a:hover{
   
    color:red;
}


.list>div>a>span
{
    margin-left:10px;
    align-self: center;
    
}

.add{
    margin-top: 20px;
    width:120px;
    height:40px;
    display:flex;
    align-self: flex-start;
    background-color: rgb(182, 155, 34);
    margin-bottom: 10px;
    
    font-size: large;
    padding-right: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:50ms;
}

.add:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add>a{
   width:100%;
   height: 100%;
   display: flex;
   text-decoration: none;
   color: black;


}

.add>a:hover{
    color:whitesmoke;
}

.add>a>span{
    text-decoration: none;
    margin-left:10px;
    align-self: center;
}