html, body{
    height: 100%;
}


.background{
    background-image: url("/image/background.jpg");

    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    position:fixed;
    height: 100%;
    width: 100%;
    z-index: -5;
}

main{
    height: 100%;
    display:flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

h1{
    margin-top: 70px;
    text-align: center;
}



.chat{
    padding: 30px;
    border: solid black 1px;
    height: 500px;
    width: 80%;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    
    overflow-y: auto;

}

.chat::-webkit-scrollbar-thumb{
    border-radius: 5%;
}

.sendForm{
   width:50%;
    display: flex;
}

.sendForm>input{

    height: 30px;
    width:70%;
}

@keyframes msgAnim{
    from {transform: scale(0) translateX(-500px)}
    to {transform: scale(1) translateX(0px)}
}

.message{

    animation: msgAnim 1s;
    margin-left: 20px;
    min-width: 300px;
    width:fit-content;
    max-width: 90%;
    min-height:50px;
    background-color: rgba(201, 219, 172, 0.965);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    

}

.messageText{
    margin-top: 10px;
}

.messageSender{
    font-weight: bold;
}

@media (max-width: 500px)
{
    .message{
        min-width: 200px;
        margin-left: 0px;

    }
}