
main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1{
    margin-top:70px;
    font-size: 50px;
    margin-bottom:50px;
}

form{
    background-color: whitesmoke;
    margin-top:3em;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: scale(1.5,1.5);
  
    border-radius: 10px;
    overflow: auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

form>div{
    margin:auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 90%;
    
}

input, textarea, p.fillMessage{
    flex:2;
   
}

input{
    outline:none;
}

p.fillMessage
{
    margin: auto;
    margin-left:20%;
    font-size: 100%;
    color:red;
    display:none;
}

p.repeatPassMessage
{
    margin: auto;
    margin-left:20%;
    font-size: 100%;
    color:red;
    display:none;
}

label{
    flex:1;
}

input[type=text], input[type=password], input[type=email]
{
    border:1px black solid;
    border-radius: 2px;

}

input[type=text]:focus, textarea:focus,input[type=password]:focus, input[type=email]:focus
{
   
    outline:none;
    background-color: linen;
   
}


