<%- layout("./english/boilerplate/layout.ejs") %>


<link rel="stylesheet" href="/css/form.css">

    <main>
        <h1>Change Password</h1>
        <form class="validateForm"action="/users/<%=user._id%>/password?_method=PUT" method="POST" novalidate> 
          
            <div class="oldPassword">
                <label for="oldPassword">Old password</label>
                <input class="validate" type="password" id="oldPassword" name="oldPassword">
            </div>
            <div class="password">
                <label for="password">New password</label>
                <input class="validate password" type="password" id="password" name="newPassword" required>
            </div>
            <div class="repeatPassword">
                <label for="repeatPassword">Repeat new password</label>
                <input type="password" class="repeatPassword validate" id="repeatPassword" required>
            </div>
           
            <button class="Button">Change password</button>
            <br>
            <p class="fillMessage">Please fill correct information</p>
            <p class="repeatPassMessage">passwords are not same</p>
        </form>
    </main>

    <script src="/javascript/validateForm.js"></script>
    <script src="/javascript/repeatPassValidation.js"></script>